* {
    margin: 10px;
    padding: 0;
}

nav {
    color: black;
    width: 100%;
    height: 60px;

}


.list {
    color: black;
    font-size: 20px;
    text-decoration: none;
    position: relative;

    right: -650px;
    margin: 20px;
    line-height: 50px;
    display: inline;


}

.site {
    position: relative;
    left: 0px;

}

.main {
    margin: 0 10px 0 10px;
    display: flex;
    height: auto;
    width: 100%;
    margin-top: 100px;



}

.main .content {

    width: 60%;
    height: 500px;
    padding: 0 10px 0 10px;
    font-size: 20px;


}

h1 {
    font-size: 100px;
}


.photo img {
    width: 80%;
    height: 700px;
    border-radius: 20px;
    margin-left: 100px;



}

.photo {
    width: 40%;

}

.hr {
    position: relative;
    bottom: 0px;
}

footer {
    height: 200px;
    width: 100%;
}

footer .lists {
    color: black;

    font-size: 20px;
    text-decoration: none;
    position: relative;
    right: -600px;
    width: 100%;
    margin: 30px;
    line-height: 50px;
    padding: 20px;


}

footer .listss {
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    position: relative;
    right: -640px;
    width: 100%;
    margin: 28px;
    line-height: 50px;
    padding: 20px;

}

.btn-dark {
    color: white;
    background-color: black;
    border-radius: 5px;
}

footer .sites {
    color: black;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;

}

.site-main {
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    left: 60px;
    margin: 20px;
}

.icon {
    color: black;
    margin: 0px;
    padding: 5px;
}

footer .lits {
    color: black;

    font-size: 20px;
    text-decoration: none;
    position: relative;
    right: -410px;
    width: 100%;
    margin: 30px;
    line-height: 50px;
    padding: 20px;
}

.ic {
    margin: 10px;
    position: relative;
    left: -30px;
    display: flex;
    margin: 10;
    padding: 0;
    font-size: 25px;
}